.covid-tracker{
  background-color: #758bfd;
  color: #392f5a;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  p{
    margin: 1rem .5rem;
  }
}
